<div class="intro">
    <div class="row title">
        <div class="col-md-5 intro-text">
            <div><h2>Intelligent Battery Management System</h2>
            <p>Connect your device's BMS to leverage the power and speed of <b>cloud based AI/ML.</b></p>
            <button class="btn btn-primary btn-lg">Connect a device</button>
        </div>
            
        </div>
        <div class="col-md-7 intro-img">
            <img src="/assets/bms_integration_with_cloud.svg">
        </div>
    </div>
    <div class="row subtitle subtitle-1">    
        <div class="col-md-7 intro-img">
        </div>
        <div class="col-md-5 intro-text">
            <div>
                <h3>Monitor crucial parameters of the battery pack on the go</h3>
                <ul class="ad-list">
                    <li>Voltage</li>
                    <li>Current</li>
                    <li>Temperature</li>
                    <li>State of Charge</li>
                    <li>State of Health</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row subtitle subtitle-2">
        <div class="col-md-5 intro-text">
            <div>
                <h3>Carry out experiment</h3>
                <p>If you have a testing facility then connect to perform different type of tests on you batteries. Analyze the date using state of the art algorithms.</p>
                <ul class="ad-list">
                    <li>Pulse Charging</li>
                    <li>Cyclic Charge/Discharge</li>
                    <li>Drive cycle analysis</li>
                </ul>
            </div>
        </div>    
        <div class="col-md-7 intro-img">
        </div>
    </div>

</div>