<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row logo head">
                    <div class="col">
                        <a href="/"><img src="../../../../assets/logo.png" id="logo"></a>
                    </div>
                </div>
                <div class="row logo" >
                    <div class="col" id="description"><small >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </small></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row head">
                    <div class="col">Useful links</div>
                </div>
                <div class="row">
                    <div class="col">
                        <a routerLink="/home" routerLinkActive="active-link">
                            <span class="item">Home<span class="bottom-line"></span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a routerLink="/dashboard" routerLinkActive="active-link">
                            <span class="item">
                                Dashboard<span class="bottom-line"></span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    <a routerLink="/devices" routerLinkActive="active-link">
                        <span class="item">Devices<span class="bottom-line"></span>
                        </span>
                    </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    <a routerLink="/batteryTest" routerLinkActive="active-link">
                        <span class="item">Battery Test<span class="bottom-line"></span>
                        </span>
                    </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    <a routerLink="/chatbot" routerLinkActive="active-link">
                        <span class="item">Chat Bot<span class="bottom-line"></span>
                        </span>
                    </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a routerLink="/docs" routerLinkActive="active-link">
                            <span class="item">Documentation<span class="bottom-line"></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="row head">
                    <div class="col">Social handlers</div>
                </div>
                <div class="row social-container">
                    <div class="col-md-3"><a href="a"><i class="fa fa-linkedin-square"></i></a></div>
                    <div class="col-md-3"><a href="b"><i class="fa fa-facebook-square"></i></a></div>
                    <div class="col-md-3"><a href="c"><i class="fa fa-twitter-square"></i></a></div>
                    
                </div>
                <div class="row">
                    <div class="col"><a href="mailto:e_mobilty@iitg.ac.in">e_mobilty@iitg.ac.in</a></div>
                </div>
            </div>
        </div>
        <section class="copyright">&copy; IIT Guwahati, E-Mobility Laboratory</section>
    </div>
</div>