.live-test-container {
  margin-top: 30px;
}
.header-black {
  background-color: #010305cf;
  color: white;
}
.header-black * {
  vertical-align: middle;
}
.live-test-container .card {
  margin-top: 20px;
}
.progress {
  margin-top: 5px;
  margin-bottom: 5px;
}
.live-test:hover {
  cursor: pointer;
  border-left: 1px solid rgb(76, 0, 255);
}
