<div class="row justify-content-center">
  <div class="col-md-7">
    <div class="device-head">
      <span class="static-text">
        Introducing the
        <span class="dynamic-text-container"
          ><span class="dynamic-text">ultimate</span></span
        >
        management tools for </span
      ><span class="dynamic-text-container">
        <ng-container *ngFor="let word of words; let i = index">
          <span
            class="dynamic-text"
            *ngIf="i == currentWord"
            @insertRemoveTrigger
            >{{ words[currentWord] }}</span
          >
        </ng-container></span
      >
    </div>
    <div class="device-sub-head">
      <span
        >Advanced device management and testing for cells, test chambers, and
        battery packs: simplified by our comprehensive tools.</span
      >
    </div>
  </div>
</div>
<div class="row device-container text-center justify-content-around">
  <div class="col-md-3" routerLink="/test-chambers" skipLocationChange="false">
    <div class="card">
      <div class="card-header">Test Chamber</div>
      <div class="image-container" id="test-chamber-image"></div>
      <div class="card-body">
        <p class="card-text">
          Test chambers provide a controlled environment for accurately
          measuring battery cell parameters. You could mention the various types
          of tests that can be conducted using the test chambers, such as cycle
          life, capacity, and performance testing.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3" routerLink="/cells" skipLocationChange="false">
    <div class="card">
      <div class="card-header">Battery Cell</div>
      <div class="image-container" id="cell-image"></div>
      <div class="card-body">
        <p class="card-text">
          Lets you manage different types of battery cells, including
          cylindrical, pouch, and prismatic cells. You can add, view, and edit
          cell details.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3" routerLink="/battery-packs" skipLocationChange="false">
    <div class="card">
      <div class="card-header">Battery Pack</div>
      <div class="image-container"></div>
      <div class="card-body">
        <p class="card-text">
          Seamlessly connect your devices to your battery packs with our
          intuitive battery management system, designed to provide comprehensive
          monitoring and analytics without the need for complex setup or
          programming.
        </p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
