<div class="card">
  <div class="card-header">Creating new test for the battery cells.</div>
  <div class="card-body">
    <form #testScript="ngForm" (ngSubmit)="save()">
      <div class="row">
        <div class="col-md-4">
          <label class="form-check-label" for="flexSwitchCheckChecked">
            Is your test involve consistent ambient temperatue?
          </label>
        </div>
        <div class="col-md-8">
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckChecked"
              name="conAmTe"
              [(ngModel)]="conAmTe"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label for="testId">Test ID</label>
        </div>
        <div class="col-md-3">
          <input
            type="text"
            class="form-control"
            maxlength="30"
            id="testId"
            aria-describedby="info_testId"
            disabled
          />
        </div>
        <div class="col-md-5">
          <small id="info_testId" class="form-text"
            >It gets generated automatically.</small
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="testName">Test Name</label>
        </div>
        <div class="col-md-3">
          <input
            type="text"
            class="form-control"
            maxlength="30"
            id="testId"
            aria-describedby="info_testName"
            placeholder="e.g. Cyclic Charge Discharge"
          />
        </div>
        <div class="col-md-5">
          <small id="info_testName" class="form-text"
            >Put a name which is meaningful to you.</small
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="testDesc">Test Description</label>
        </div>
        <div class="col-md-8">
          <textarea
            class="form-control"
            maxlength="400"
            rows="4"
            placeholder="Put a detailed description of your test."
          ></textarea>
        </div>
      </div>

      <div class="channel-container">
        <div
          class="channel"
          *ngFor="let currentChannel of allSelectedChannel; let ch_index = index"
        >
          <div class="row">
            <div class="col-md-4">
              <label for="ch_1" class="form-label">Channel Number</label>
            </div>
            <div class="col-md-2">
              <select
                [(ngModel)]="currentChannel.channelNumber"
                (ngModelChange)="updateAvChannels()"
                name="channel_select_{{ch_index}}"
                class="form-select"
              >
                <option *ngFor="let ch of currentChannel.availableChannels" [ngValue]="ch">
                  Channel {{ch}}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <small id="info_ch" class="form-text">
                Select a channel to add test configuration.
              </small>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">Test Format</div>
            <div class="col-md-8"><p>Specify the test sequence.</p></div>
          </div>
          <div class="row">
            <div class="col-4 align-self-center">
              <div class="row">
                <div class="col-md-6">
                  <small class="form-text" id="overall-multiplier"
                    >Overall multiplier.</small
                  >
                </div>
                <div class="col-md-6">
                  <input
                    class="form-control"
                    type="number"
                    [(ngModel)]="currentChannel.overallRowMultiplier"
                    name="overall_multiplier_{{ch_index}}"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-8" style="padding: 0px">
              <ng-container
                *ngFor="
                  let current_test_row of currentChannel.testFormats;
                  let row_id = index
                "
              >
                <div class="test-format-row">
                  <div class="row">
                    <div class="col-md-12">
                      <select
                        class="form-select"
                        [(ngModel)]="currentChannel.testFormats[row_id]"
                        name="test-format-row-{{ch_index}}-{{ row_id }}"
                      >
                        <option
                          *ngFor="
                            let testFormat of currentChannel.allTestFormat[
                              row_id
                            ]
                          "
                          [ngValue]="testFormat"
                        >
                          {{ testFormat.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div
                        class="row no-padding-root"
                        *ngFor="let child of current_test_row.children"
                      >
                        <div class="col-md-10">
                          <div class="row no-padding-root">
                            <ng-container *ngFor="let field of child.fields">
                              <ng-container *ngIf="field.visibility">
                                <ng-container [ngSwitch]="field.type">
                                  <ng-container *ngSwitchCase="'select'">
                                    <div
                                      class="col-md-{{ field.template_width }}"
                                    >
                                      <select
                                        class="form-control"
                                        [(ngModel)]="field.value"
                                        name="field-{{ field.id }}-of-row-{{
                                          row_id
                                        }}"
                                        (ngModelChange)="
                                          fieldResolve(
                                            field.id,
                                            child.id,
                                            row_id,
                                            ch_index
                                          )
                                        "
                                      >
                                        <option
                                          *ngFor="let option of $any(field).options"
                                          [ngValue]="option"
                                        >
                                          {{ option }}
                                        </option>
                                      </select>
                                    </div>
                                  </ng-container>
                                  <ng-container *ngSwitchCase="'input'">
                                    <div
                                      class="col-md-{{ field.template_width }}"
                                    >
                                      <input
                                        name="field-{{ field.id }}-of-row-{{
                                          row_id
                                        }}"
                                        [(ngModel)]="field.value"
                                        type="number"
                                        class="form-control"
                                        required
                                      />
                                    </div>
                                  </ng-container>
                                  <ng-container *ngSwitchCase="'text'">
                                    <div
                                      class="col-md-{{ field.template_width }}"
                                    >
                                      <p class="text-center">
                                        {{ field.value }}
                                      </p>
                                    </div>
                                  </ng-container>
                                </ng-container>
                              </ng-container>
                            </ng-container>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="row no-padding-root">
                            <div class="col-md-6">
                              <h4 class="text-center">*</h4>
                            </div>
                            <div class="col-md-6">
                              <input
                                class="form-control"
                                [(ngModel)]="current_test_row.multiplier"
                                name="row_multiplier_{{ child.id }}"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <div class="row justify-content-end">
                <div class="col-md-3 text-end">
                  <button
                    class="btn btn-success"
                    (click)="addRow(ch_index)"
                    type="button"
                    [disabled]="currentChannel.isAddRowButtonDisabled"
                  >
                    Add Row
                  </button>
                </div>
                <div class="col-md-3 text-end">
                  <button
                    class="btn btn-warning"
                    (click)="removeRow(ch_index)"
                    type="button"
                    [disabled]="currentChannel.isRemoveRowButtonDisabled"
                  >
                    Remove Row
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <button type="button" class="btn btn-secondary" (click)="addChannel()" [disabled]="isAddChBtnDisabled">Add Channel</button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-danger" (click)="removeChannel()" [disabled]="isRemChBtnDisabled">Remove Channel</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col"><span></span>Connected</div>
        <div class="col text-end">
          <button type="submit" class="btn btn-danger">Start</button>
        </div>
      </div>
    </form>
  </div>
</div>
