.test-info-container {
  margin-top: 10px;
}
.test-info-container > .card-header {
  background-color: #010305cf;
  color: white;
}
.channel-container {
  border-top: 5px solid #91699b57;
  margin-top: 10px;
  padding-top: 10px;
}
.badge .material-symbols-outlined {
  font-size: inherit;
}
.badge > span {
  height: 100%;
  padding: 0px 2px;
  vertical-align: middle;
  font-size: large;
}
.badge {
  margin: 0px 2px;
}
.overall .row {
  margin-bottom: 3px;
  font-family: Verdana, sans-serif;
}
.show-chart,
.download,
.cross {
  margin: 0px 10px;
}
.show-chart:hover,
.download:hover,
.cross:hover {
  color: red;
  cursor: pointer;
}
.chart-background {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
  overflow: hidden;
}
.cross {
  float: right;
}

.charts {
  position: relative;
  top: 10%;
  z-index: 2;
  margin: auto;
  width: 80%;
  height: 80%;
  overflow-y: auto;
}
.card {
  margin: 0px 10px;
}
