<div class="navigation">
    <nav aria-label="breadcrumb" class="divider">
        <ol class="breadcrumb">
            <li *ngFor="let item of breadCrumbs" class="breadcrumb-item"><a [routerLink]="[item.url]" [skipLocationChange]="true" [class]="item.status">{{item.name}}</a></li>
        </ol>
    </nav>
</div>

<div *ngIf="isOnOverView;else detailView" class="content">
    <div class="row" style="margin: 0px;">
        <div class="col-md-9">
            <div class="row">
                <div *ngFor="let device of devices;let i = index;" class="col-lg-5 pack" [routerLink]="['./deviceData',device.id]" [skipLocationChange]="true" (click)="goToPackDetails()">
                    <div class="row head">
                        <div class="col-md-8 name">{{device.name}}</div>
                        <div class="col-md-4 connecion-status">Connected <i class="fa fa-circle"></i></div>
                    </div>
                    <div class="row bottom">
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col circle-pogress">
                                    <circle-progress [percent]="device.soc" [radius]="40" [outerStrokeColor]="'#78C000'"
                                        [innerStrokeColor]="'#C7E596'" [outerStrokeWidth]="4" [innerStrokeWidth]="2" [subtitle]="'SoC'">
                                    </circle-progress>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col circle-pogress">
                                    <circle-progress [percent]="device.soh" [radius]="40" [outerStrokeColor]="'green'"
                                        [innerStrokeColor]="'#C7E596'" [outerStrokeWidth]="4" [innerStrokeWidth]="2" [subtitle]="'SoH'">
                                    </circle-progress>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 pack-details">
                            <section class="title">
                                <div class="row">
                                    <div class="col">Description</div>
                                    <div class="col">Status</div>
                                </div>
                            </section>
                            <section class="details">
                                <div class="row">
                                    <div class="col">Pack Voltage</div>
                                    <div class="col">{{device.packVoltage}}V</div>
                                </div>
                                <div class="row">
                                    <div class="col">Pack Current</div>
                                    <div class="col">{{device.packCurrent}}A</div>
                                </div>
                                <div class="row">
                                    <div class="col">Average Temperature</div>
                                    <div class="col">{{device.averageTemperature}}&deg;C</div>
                                </div>
                                <div class="row">
                                    <div class="col">Charge/Discharge status</div>
                                    <div class="col">{{device.chargeDischargeStatus}}</div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 overall-description-container">
            <div class="overall-description">
                <section class="title">
                    <h5>Overall Description</h5>
                </section>
                <section class="content">
                    <div class="row">
                        <div class="col-md-10">No. of devices configured</div>
                        <div class="col-md-2">{{noOfDevices}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">No. of devices online</div>
                        <div class="col-md-2">{{noOfDevicesConnected}}</div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<ng-template #detailView>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</ng-template>