.all-cells {
  border: 1px solid gray;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
}
.all-cells > table > tbody tr {
  cursor: pointer;
}
.user {
  margin-right: 2px;
}
.cell-details {
  margin-top: 10px;
}
.cell-details .card-body .row {
  border-bottom: 1px solid rgba(128, 128, 128, 0.06);
}
.cell-details .card-body .col-md-4 {
  font-weight: bold;
}
.edit:hover {
  color: red;
  cursor: pointer;
}
.edit {
  margin: 0px 6px;
}
.all-cells tr:hover {
  cursor: pointer;
}
